
<ion-content class="main-content" style="background-image: url('../../assets/imgs/love4.jpg')">
  <br />
  <h1 class="w3-xxlarge w3-text-black w3-wide" align="center"> Welcome to LoveShot </h1>
  <br>

  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email"  required [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

  </ion-list>

  <div class="row">
    <button ion-button (click)="onSubmit()" color="secondary"  full medium>Login</button>
    <button ion-button (click)="loginFacebook()" color="default"  full medium>Login with <br><ion-icon name="logo-facebook"></ion-icon></button>
  </div>
  <br>
  <button ion-button color="primary" clear (click)="regisClick()">Register now</button>
  <button ion-button color="primary" clear (click)="passClick()">Forget password?</button>

  <ion-item *ngIf="showUser">
    <ion-avatar item-left>
      <img [src]="user.picture.data.url" alt="">
    </ion-avatar>
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
  </ion-item>
</ion-content>
